@model IEnumerable<Movie_Store_App.Models.Movie>

@{
    ViewData["Title"] = "Gallery";
}

<h1>Gallery</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container-fluid">
    
    <div class="row"  >
        @foreach (var item in Model) 
        {
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        @item.Title
                    </div>
                    <div class="card-body">
                        <img src="~/images/@item.Image" height="150" /> <br/>
                        price:@item.Pirce
                    </div>
                    <div class="card-footer">
                            <a asp-controller="Orders" asp-action="Create" asp-route-id="@item.Id" >Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
